body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Audiowide";
    width: 16%;
    text-shadow: 
    3px 3px 0px black,
    -3px 3px 0px black,
    3px -3px 0px black,
    -3px -3px 0px black;
}

.text-container {
    background-image: url('https://plus.unsplash.com/premium_photo-1670601440146-3b33dfcd7e17?q=80&w=1838&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Path to your image */
    background-size: cover; /* Make sure the image covers the entire container */
    background-position: center; /* Center the image */
    color: white; /* Text color for better readability */
    padding: 50px; /* Add padding to give space around the text */
    text-align: center; /* Center the text */
}

.text-containers {
    background-image: url('https://plus.unsplash.com/premium_photo-1661346090218-bf068ecdad60?q=80&w=1738&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Path to your image */
    background-size: cover; /* Make sure the image covers the entire container */
    background-position: center; /* Center the image */
    color: white; /* Text color for better readability */
    padding: 50px; /* Add padding to give space around the text */
    text-align: center; /* Center the text */
}

#end-ing{
    background-color: bisque;
}
ul {
    margin: 0px;
}


body > header {
    background-color: rgb(16, 0, 192);
    color: #ffffff; 
    /* lol colors */
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

#ingredients {
    list-style-type: disc;
    padding-left: 20px;
}

#nav-ul {
    display:flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}
body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main  article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 83%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: rgb(16, 0, 192);
    display: flex;
}

img {
    border-radius: 20%;
}

#footer-ul{
    display: flex;
    list-style: none;
}

#footer-ul > div > li{
    margin-left: 12px;
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}

footer > h2{
    color: white;
}